<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <!-- Materilize  -->
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- importing meterialize icons -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <title>Home Page</title>
</head>
<body>
    <!-- nav bar -->
    {% include 'navbar.html' %} 
    {% block navbar %} 
    {% endblock %}
    <div class="search-box">
        <form action="post" action = "/index">
        <!-- <i class="small material-icons">search</i> -->
        
        <input name="state" type="text" placeholder="Search" id="search">
        
       
        <!-- <i class="small material-icons">backspace</i> -->
        
        <input type="submit"id="search-button" >
      
        
    
       
        </form>
    </div>
    <iframe class="map"

        width=100%
        height=100%
        style="border:0"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCqgxM31bLFD-VdDvc5kio8Ff2z_3PJswQ
            &center=-33.8569,151.2152
            &zoom=18">
    </iframe>


 

     <!-- Compiled and minified JavaScript -->
     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
             

    
</body>
</html>