<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>NavBar</title>
</head>
<body>
    {% block navbar %}
    <div class= "nav-bar">
        <h3>View Crimes</h3>
        <ul class="links">
            <li>
                <a href="temp">Home</a>
            </li>
            <li>
                <a href="temp">Report</a>
            </li>
            <li>
                <a href="temp">Sign in</a>
            </li>
            <li>
                <a href="temp">sing up</a>
            </li>
        </ul>
    </div>

    

    {% endblock %}
</body>
</html>