<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/signin.css" />
    <title>SignIn</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% block navbar %} {% endblock %}
    <div class="image-form">
      <div class="image">
        <img src="../static/images/crime-pic.jpg" alt="Crime Prevention" />
      </div>

      <div class="form">
        <div class="title">Login To Your Account</div>
        <div class="form-box">
          <form action="/signin" method="post">
            <div class="form-item">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                placeholder="Enter your email address"
                autocomplete="off"
              />
            </div>

            <div class="form-item">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                placeholder="Enter you password"
                autocomplete="off"
              />
            </div>

            <div class="form-item" id="submit">
              <input type="submit" name="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="goto">
      <div class="ques">Don't have Account? Register here.</div>
      <div class="signup"><a href="/signup">SignUp</a></div>
    </div>

    {% if box %}
    <div class="response">
      {% if response2 %}
      <h1>You email field is empty. Try to give right input.</h1>
      {% elif response3 %}
      <h1>Password must be at least 6 characters long.</h1>
      {% elif response4 %}
      <h1>
        Password must have alphanumeric characters: one uppercase, one
        lowercase, and at least a symbol: '!', '@', '#', '%', '^', '&', '*'
      </h1>
      {% elif email_not_in_database %}
      <h1>"Email doesn't exist. Try again!"</h1>
      {% elif password_not_correct %}
      <h1>"Incorrect Password. Try Again."</h1>
      {% endif %}
    </div>
    {% endif %}
  </body>
</html>
