<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/signup.css" />
    <title>Signup</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% block navbar %} {% endblock %}
    <div class="image-form">
      <div class="image">
        <img src="../static/images/prevent-crime.jpg" alt="Crime Prevention" />
      </div>

      <div class="form">
        <div class="title">Register Your Account</div>
        <div class="form-box">
          <form action="/signup" method="post">
            <div class="form-item">
              <label for="name">Name</label>
              <input
                type="text"
                name="username"
                placeholder="Enter your Name"
                autocomplete="off"
              />
            </div>

            <div class="form-item">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                placeholder="Enter your email address"
                autocomplete="off"
              />
            </div>

            <div class="form-item">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                placeholder="Enter you password"
                autocomplete="off"
              />
            </div>

            <div class="form-item" id="submit">
              <input type="submit" name="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="goto">
      <div class="ques">Already Registered? SignIn from here.</div>
      <div class="signin"><a href="/signin">SignIn</a></div>
    </div>

    {% if box %}
    <div class="response">
      {% if response %}
      <h1>Your name and email fields are empty. Try to give right input.</h1>
      {% elif response1 %}
      <h1>Your name field is empty. Try to give right input.</h1>
      {% elif response2 %}
      <h1>You email field is empty. Try to give right input.</h1>
      {% elif response3 %}
      <h1>Password must be at least 6 characters long.</h1>
      {% elif response4 %}
      <h1>
        Password must have alphanumeric characters: one uppercase, one
        lowercase, and at least a symbol: '!', '@', '#', '%', '^', '&', '*'
      </h1>
      {% elif user_in_database %}
      <h1>
        "Username already registered. Try logging in. If you still want to
        signup, try with another username."
      </h1>
      {% elif user_in_database %}
      <h1>
        "Email already registered. Try logging in. If you still want to signup,
        try with another email."
      </h1>
      {% endif %}
    </div>
    {% endif %}
  </body>
</html>
